.map {
  padding: 0;
}

.map-wrapper {
  padding: 0;
  position: relative;

  @include media('<=tablet') {
    display: flex;
    flex-direction: column;
  }
}

.map__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: $primary;
}
.map__tab {
  padding: 0.5rem 2rem;
  border-right: 1px solid #fff;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;

  &:last-child {
    border: none;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  @include media('<=tablet') {
    span {
      display: none;
    }
  }
}
.map__tab.mod--active {
  color: #fff;
}

.map__legend {
  position: absolute;
  top: 3%;
  right: 0;
  font-family: $sans;
  max-width: 365px;

  @include media('<=tablet') {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-family: $sans;
  }

  span {
    font-family: $sans;
  }
}
.map__legend--main {
  background-color: #fff;
  padding: 1rem;
}

.map__legend-region {
  color: $aegean;
}

.map__legend-row {
  display: flex;
  justify-content: space-between;
  margin: 0;

  i {
    font-style: normal;
  }

  &.mod--office span:first-child {
    color: $office;
  }
  &.mod--multifamily span:first-child {
    color: $multifamily;
  }
  &.mod--land span:first-child {
    color: $land;
  }
  &.mod--industrial span:first-child {
    color: $industrial;
  }

  span:first-child {
    margin-right: 1rem;
    font-weight: 700;
  }

  span:last-child {
    color: $darkgrey;
  }
}
.map__legend--bottom {
  display: flex;
  background-color: #ccc;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
}

.legend__label {
  margin: 0;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
.legend__list {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.legend__list-item {
  list-style: none;
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;

  font-weight: 700;

  &:before {
    content: '';
    border-radius: 10px;
    height: 10px;
    width: 10px;
    margin: 0 10px;
  }

  &.mod--office:before {
    background-color: $office;
  }
  &.mod--multifamily:before {
    background-color: $multifamily;
  }
  &.mod--land:before {
    background-color: $land;
  }
  &.mod--industrial:before {
    background-color: $industrial;
  }
}

.map__switch {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  @include media('<=tablet') {
    left: 0;
    right: 0;
  }
}
.map__switch-item {
  background-color: rgba(39, 52, 59, 0.75);
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: $sans;
  font-weight: 700;
  position: relative;
  padding-left: 80px;
  min-width: 100px;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;

  @include media('<=tablet') {
    padding-left: 20px;
  }

  i {
    position: relative;
    left: -40px;

    &:before {
      content: '';
      width: 40px;
      height: 30px;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      background-size: contain;
    }

    @include media('<=tablet') {
      display: none;
    }
  }

  &:first-child {
    border-radius: 30px 0 0 30px;
    text-align: right;

    i:before {
      content: '';
      background-image: url('/wp-content/uploads/2019/12/CurrentIcon.png');
      left: 0;
      height: 32px;
    }
  }

  &:last-child {
    border-radius: 0 30px 30px 0;

    i:before {
      content: '';
      background-image: url('/wp-content/uploads/2019/12/HistoricalIcon.png');
    }
  }

  &.mod--active {
    background-color: rgba(39, 52, 59, 1);
  }
}

#map {
  min-height: 700px;
  height: 80vh;

  @include media('<=tablet') {
    min-height: 400px;
    height: 400px;
    order: 3;
  }
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
}
.gm-style .gm-style-iw-c {
  padding: 0;
  border-radius: 0;
}
.gm-style .gm-style-iw-t::after {
  content: none;
}

.map__info {
  font-family: $sans;
  padding: 20px 50px;
  margin: 0 0 0 -30px;
  width: calc(100% - 40px);
}

.map__info__heading {
  margin-bottom: 0.5rem;
  text-transform: none;
  font-weight: 700;
}

.map__info__item {
  color: $orange;
  font-family: $sans;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 0.85rem;

  span {
    color: $orange;
  }
}

.map__info__button {
  color: #fff;
  background: $aegean;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  text-transform: uppercase;
  transition: 0.3s ease;

  margin: 0 0 -20px -50px;
  width: calc(100% + 100px);
  display: none !important;

  &:hover {
    color: #fff;
  }
}

.gm-fullscreen-control {
  display: none;
}
@media only screen and (min-width: 980px) {
  .gm-style-pbc {
    opacity: 0 !important;
  }
}
.gmnoprint {
  display: none;
}
