.contact {
  h2 {
    font-family: $sans;
  }

  strong {
    font-family: $sans;
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-family: $sans;
  }
}

.contact__location {
  margin-bottom: 4rem;
}

.contact-people-container {
  display: grid;
  grid-template-columns: 40% 40% 1fr;
  grid-auto-rows: auto auto auto;
  grid-column-gap: 2rem;
  margin: 4rem 0;

  @include media('<=tablet') {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 481px) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    margin: 2rem 0;
  }
}

.contact-people-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 100px;
  }

  @media (max-width: 1024px) {
    img {
      align-self: center;
    }
  }
}

.contact-img {
  border-radius: 50%;
}

.contact-people-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.contact-location-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto auto auto auto;
  grid-row-gap: 3rem;
  justify-items: flex-start;
  margin: 0;

  @include media('<tablet') {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }
}

.contact-location-item {
  display: flex;
  flex-direction: column;

  p,
  a {
    line-height: 1.5;
  }
}

.contact-address {
  // max-width: 150px;
}
