.heading {
  .firm__section & {
    align-items: flex-start;
  }
}

// .tabs--firm {
//   display: grid;
//   grid-template-columns: 200px 1fr;
//   grid-gap: 2rem;
//   padding: 4rem 2rem;

//   .tabs-nav {
//     position: fixed;
//   }

//   @include media('<tablet') {
//     display: block;

//     .tabs-nav {
//       position: relative;
//     }
//   }
// }

.tabs--firm {
  .tab span,
  .tab img {
    opacity: 1;
  }

  .tab > a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3a3a3a;
  }
}

.firm__section {
  padding-top: 4rem;
  padding-bottom: 0;
}

.edge__section,
.businesses__section,
.fund__section {
  padding: 4rem 0;
}

.vision__section {
  padding: 4rem 0;

  .container {
    margin: 2rem auto;
  }
}

.firm__heading {
  font-family: $sans;
}

.firm__subheading {
  // font-size: 1rem;
}

.firm__section--top {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-column-gap: 5%;
  margin-bottom: 3rem;

  img {
    // height: 100%;
  }

  @include media('<tablet') {
    display: block;
    margin-bottom: 1rem;
  }
}

.firm__section--bottom {
  padding-bottom: 4rem;
}

.edge__section {
  background-color: #eef1f5;

  img {
    padding: 0;
    margin-bottom: 1rem;
    object-fit: contain;

    @include media('<tablet') {
      max-width: 160px;
      margin: 0;
    }
  }

  .container {
    margin: 2rem auto;
  }
}

.edge__bottom {
  img {
    max-height: 75px;
  }
}

.edge__row {
  padding: 2rem 0;

  .edge__top & {
    padding-top: 0;
  }

  .heading {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include media('<tablet') {
      padding: 2rem 0 0 0;
    }
  }

  .highlight {
    font-size: 2.5rem;
    text-align: center;

    @include media('<=tablet') {
      font-size: 1.5rem;
    }
  }
}

.edge__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .edge__middle & {
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @include media('<tablet') {
    display: block;
  }
}

.edge__circle {
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $aegean;
  margin-bottom: 1rem;
}

.edge__circle-number {
  font-size: 7rem;
  line-height: 1;
  margin: 0;
}

.edge__circle-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.edge__stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;

  @include media('<tablet') {
    margin: 2rem 0;
  }

  h2 {
    color: $aegean;
    font-family: $sans;
    font-size: 1.8rem;
    letter-spacing: $letter-spacing;
    font-weight: 500;
    width: 80%;
    text-align: center;

    @include media('<tablet') {
      font-size: 1.5rem;
      padding: 2rem 0 0 0;
    }
  }

  h3 {
    color: $aegean;
    font-family: $serif;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;

    @include media('<tablet') {
      font-size: 2.5rem;
    }

    span {
      font-family: $sans;
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: $letter-spacing;
      font-weight: 700;
    }
  }
}
.edge__middle {
  .edge__stat {
    @include media('<tablet') {
      padding: 2rem 0;
      margin: 0;
    }
  }
}

.fund__section {
  background-color: $offwhite;

  .fund__section__content {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;
    margin: 2rem auto;

    @include media('<tablet') {
      display: block;

      .fund__section__text {
        margin-top: 1rem;
      }
    }
  }
}

.businesses__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background: url('/wp-content/uploads/2019/12/SliderImage1.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: left;
  min-height: 70vh;
  margin-top: -1px;

  h3 {
    font-family: $sans;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 2rem;

    &:after {
      margin-left: 2rem;
      background: #fff;
      height: 1px;
      flex: 1;
      content: '';
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .container {
    max-width: 800px;
  }

  .our_businesses__item {
    margin: 2rem;
  }
}
