.partners {
  .select2 {
    min-width: 150px;
  }

  .tabs {
    display: none;

    &.active {
      display: block;
    }
  }

  .tabs--index {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 2rem;
    padding: 4rem 2rem;
  }

  .tab-container {
    display: none;

    &.active {
      display: block;
    }
  }

  .tabs-nav {
    display: block;
  }

  .tabs__sidebar {
    padding: 0 2rem;
  }

  .tab-content {
    min-height: 60vh;
  }

  .tab__text {
    cursor: pointer;
  }

  // .tabs-nav {
  //   display: grid;
  //   grid-template-columns: repeat(4, max-content);
  //   // border-bottom: 1px solid $darkgrey;
  // }

  // .tab-content {
  //   background: transparent;
  // }

  // .tab .partners .tabs-nav{
  //   box-sizing: border-box;
  //   width: 100%;
  //   padding: 2rem 0;
  //   border-bottom: 0;

  //   &:last-child {
  //     .tab__image-wrap {
  //       border-right: 0;
  //     }
  //   }
  // }

  // .tab__image-wrap {
  //   display: flex;
  //   align-items: center;
  //   padding: 0 2rem;
  //   border-right: 1px solid $darkgrey;
  //   height: 100%;
  // }

  // .tab__logo {
  //   max-height: 42px;

  //   &-2 {
  //     max-height: 52px;
  //   }
  //   &-3 {
  //     max-height: 45px;
  //   }
  //   &-4 {
  //     max-height: 34px;
  //   }
  // }

  // @include media('<=desktop') {
  //   .tabs-nav {
  //     grid-template-columns: repeat(4, 1fr);
  //   }
  // }

  // @include media('<=tablet') {
  //   .tabs-nav {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  //   .tab__image-wrap {
  //     border-right: 0;
  //     padding: 0;
  //     margin: 0;
  //     align-items: center;
  //   }

  //   .tab {
  //     align-items: center;
  //     padding: 1rem;
  //     opacity: 0.5;

  //     &.active {
  //       opacity: 1;

  //       &:before,
  //       &:after {
  //         content: none;
  //       }
  //     }
  //   }
  // }
}

.partners__section {
  padding: 0 !important;
}

.partners__section--top {
  display: grid;
  grid-template-columns: 63% 30%;
  grid-column-gap: 7%;

  @include media('≤tablet') {
    display: block;
  }
}

.partners__contact {
  h4 {
    font-family: $sans;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 0.05em;
  }

  p {
    font-family: $sans;
    line-height: 1;
  }

  a {
    color: $dark;
    line-height: 1;
  }

  img {
    max-height: 200px;
  }
}

.partners__address {
  line-height: 1.6;
  padding: 1rem 0;
}

.partners__section--bottom {
  margin-top: 2rem;

  a {
    background-color: #28333c;
  }
  h2 {
    font-family: $sans;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

.operators {
  background: #f2f2f2;
  margin-bottom: 1rem;

  .slick-prev:before {
    content: '❮';
    color: #a4a4a4;
    font-size: 2rem;
  }
  .slick-next:before {
    content: '❯';
    color: #a4a4a4;
    font-size: 2rem;
  }

  .slick-list {
    // padding: 0 50px;
    box-sizing: border-box;
  }

  .slick-slide {
    padding: 0 40px;

    @include media('<=tablet') {
      padding: 0 40px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-prev {
    left: 10px;
    z-index: 5;
  }
  .slick-next {
    right: 10px;
    z-index: 5;
  }
}
