.inside-left-sidebar {
  // background: #eaeaea;
  padding: 2rem 2rem 2rem 0;
  #archives-3,
  form {
    // background: #eaeaea;
  }
  input {
    border-radius: 20px;
  }
}

.sidebar .widget {
  background-color: transparent;
}

.inside-left-sidebar .widget-title {
  display: none;
}

.inside-left-sidebar .widget ul li {
  list-style: outside;
  margin-left: 1em;
}
