.inside-left-sidebar {
  background: #eaeaea;
  padding: 2rem;
  #archives-3,
  form {
    background: #eaeaea;
  }
  input {
    border-radius: 20px;
  }
}

.sidebar .widget {
  background-color: transparent;
}
