.sitemap-aside {
  border-right: 1px solid #ccc;
  padding-right: 3rem;

  @include media('<tablet') {
    padding: 0;
    border-right: unset;
    display: flex;
    flex-direction: column;
  }
}

.sitemap-main {
  padding: 2rem;
}

.sitemap-side-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 3rem;

  aside {
    padding: 1rem 3rem 1rem 0;
  }

  @include media('<tablet') {
    flex-direction: column-reverse;
  }
}

.sitemap-side-title {
  text-transform: uppercase;
  font-weight: 500;
}

.sitemap-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;

  @include media('<tablet') {
    grid-template-columns: 1fr;
    p {
      font-size: 0.8rem;
    }
  }
}

.sitemap-side-item {
  h4,
  p {
    margin: 0;
  }

  h4 {
    font-weight: 800;
    text-transform: uppercase;
  }
}

.sitemap {
  padding: 1rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;

    @include media('<=tablet') {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      margin-bottom: 4rem;
    }
  }

  #menu-sitemap {
    @media (min-width: 767px) {
      margin-left: 3rem;
    }
  }

  .menu-item-has-children {
    font-weight: 800;
  }
  .sub-menu {
    font-weight: normal;
  }
}
