.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  margin: 4rem 0;
  h5,
  h6 {
    margin: 0;
  }

  @include media('<=tablet') {
    grid-template-columns: 1fr 1fr;
  }
}

.team__item {
  h5 {
    font-family: $serif;
  }

  h6 {
    font-size: 0.8rem;
    color: #a4a4a4;
  }
}

.modal {
  width: 95%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5% 5%;
  background-color: rgba(39, 52, 59, 0.75);
  color: #fff;
  border-radius: 0;
  box-shadow: none;

  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
  }
  a.close-modal {
    top: 30.5px;
    right: 30.5px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;

    @include media('<tablet') {
      position: fixed;
      top: 5.5px;
      right: 13.5px;
      width: 30px;
      height: 30px;
    }
  }

  @include media('<tablet') {
    height: auto;
  }
}

.team__modal {
  width: 90%;
  display: grid;
  grid-template-columns: fit-content(20%) 1fr;
  grid-auto-rows: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin: 0 auto;

  @include media('<tablet') {
    grid-template-columns: 1fr;
  }
}

.team__modal-left {
  font-size: 0.9rem;

  img {
    max-width: 100%;
    padding: 1rem 0;
  }
  p {
    margin: 0;
    font-size: 0.8rem;
    font-family: $sans;
  }
}

.team__modal-left-info {
  padding: 0.5rem 0;
}

.team__modal-right {
  h3 {
    font-size: 1.5rem;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }

  p {
    font-size: 0.8rem;
  }
}
