.lwa {
  margin: 0;
  // visibility: hidden;
}

.login-modal {
  display: none;
}

.lwa-modal {
  position: fixed;
  z-index: 9999;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  align-content: center;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 80%;
  margin: 0;
  background: rgba(39, 52, 59, 0.8);

  tr {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: transparent !important;
  }
  label,
  a,
  p {
    color: #fff;
  }

  @include media('<=tablet') {
    display: block !important;
    padding: 1rem;
  }
}

.lwa-info {
  margin-top: 2rem;
  font-family: $sans;

  @include media('<=tablet') {
    display: none;
  }
}

.lwa-form {
  h1 {
    color: #fff;
    margin-top: 0;
    font-size: 1.5rem;
  }
  padding: 2rem 0;
}

.lwa-submit {
  flex-direction: column-reverse !important;
}

.lwa-wp-submit {
  background-color: $primary;
}

.widget-login-left {
  justify-self: end;
  padding: 2rem;

  img {
    width: 250px;
  }

  div {
    margin-bottom: 20px;
  }

  @include media('<=tablet') {
    padding: 2rem 0 0 0;
  }
}

.lwa-wp-submit {
}

.lwa td {
  max-width: 300px;
}
